<div class="modal">
  <div class="content-box" id="gradient">
    <h1>The Important Questions</h1>
    <h2>Trying to figure out your Valentine's Day plans but not feeling creative? <br>Take this quiz for suggestions!</h2>

      <%= form_for :quiz do |f| %>
        <p>
          <button type="submit" value="Submit">Start</button>
        </p>
      <% end %>

    </div>
  </div>
