<header>
  <h2>The Important Questions</h2>
</header>

<% @quiz.questions.each do |question|%>
<div class="main">
  <div class="question">
    <img class="question-pic" src="images/qr-heart.jpg" alt="Question Photo">
    <h1 class="question-title"><%=question.title%></h1>
  </div>
  <div class="answers">
    <div class="column1">
      <div class="answer color1">Sex on the Beach</div>
      <div class="answer color2">Mai Tai</div>
    </div>
    <div class="column2">
      <div class="answer color3">Moscow Mule</div>
      <div class="answer color4">Virgin Daiquiri</div>
    </div>
  </div>
</div>
<%end%>
