<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Important Questions</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="pinterest" content="nopin" />
	<link rel="stylesheet" href="main.css">
</head>
<body>

	<div class="modal">
		<div class="content-box" id="gradient">
			<h1>The Important Questions</h1>
			<h2>Trying to figure out your Valentine's Day plans but not feeling creative? <br>Take this quiz for suggestions!</h2>
			<button>Start</button>
		</div>
	</div>

	<header>
		<h2>The Important Questions</h2>
	</header>

	<div class="main">
		<div class="question">
			<img class="question-pic" src="images/qr-heart.jpg" alt="Question Photo">
			<h1 class="question-title">If you were a cocktail what would you be?</h1>
		</div>
		<div class="answers">
			<div class="column1">
				<div class="answer color1">Sex on the Beach</div>
				<div class="answer color2">Mai Tai</div>
			</div>
			<div class="column2">
				<div class="answer color3">Moscow Mule</div>
				<div class="answer color4">Virgin Daiquiri</div>
			</div>
		</div>
	</div>

	<div class="solution-page">
		<div class="heart-content">
			<img src="images/heart-outline-3.jpg" alt="Sketchy outline of heart">
		</div>
		<div class="solution-content">
			<h1>
				You should go to PLACE by MODE OF TRANSPO with PERSON and ACTIVITY after eating CUISINE ADVERB. Be sure to wear your ARTICLE OF CLOTHING and pack a ITEM THAT WOULD BE IN A BAG.
			</h1>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="app.js"></script>
	
</body>
</html>